{% extends 'shared/base.html' %}

{% block title %}
Semua Batch Pengiriman
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center mt-3">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">No. Transaksi</th>
                      <th scope="col">Petugas Faskes</th>
                      <th scope="col">Faskes</th>
                      <th scope="col">Total Berat (kg)</th>
                      <th scope="col">Status Permohonan</th>
                      <th scope="col">Status Batch</th>
                      <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dataPermohonan %}
                        <tr id="{{i.0}}">
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                            <td>{{i.6}}</td>
                            {% if role == "Admin Satgas" %}
                                <td>
                                    {% if i.4 == "PRO" %}
                                        {% if i.6 == "PRO" or i.6 == "-" %}
                                            <button type="button" onclick="createBatch(this)" class="btn btn-success">Buat Batch</button>
                                        {% endif %}
                                    {% elif i.4 == "FIN" or i.4 == "MAS" %}
                                        {% if i.6 == "OTW" or i.6 == "DLV" or i.6 == "PEN" or i.6 == "HLG" or i.6 == "RET" %}
                                            <button type="button" onclick="getDetail(this)" class="btn btn-secondary">Detail</button>
                                        {% endif %}
                                    {% endif %}

                                    {% if i.6 != "-" %}
                                        {% if i.6 == "PRO" or i.6 == "OTW" %}
                                            <button type="button" onclick="ubahStatus(this)" class="btn btn-warning">Ubah Status</button>
                                        {% endif %}
                                        <button type="button" onclick="checkRiwayatStatus(this)" class="btn btn-primary">Riwayat Status</button>
                                    {% endif %}
                                </td>
                            {% elif role == "Petugas Distribusi" or role == "Petugas Faskes" %}
                                <td>
                                    {% if i.6 != "-" %}
                                        <button type="button" onclick="checkRiwayatStatus(this)" class="btn btn-primary">Riwayat Status</button>
                                    {% else %}
                                        No Action Permitted    
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>

    function createBatch(button){
        const rowId = button.parentElement.parentElement.id
        const [idTransaksi] = rowId;
        window.location = `/batch/new/${idTransaksi}`
    }

    function getDetail(button){
        const rowId = button.parentElement.parentElement.id
        const [idTransaksi] = rowId;
        window.location = `/batch/${idTransaksi}`
    }

    function checkRiwayatStatus(button){
        const rowId = button.parentElement.parentElement.id
        const [idTransaksi] = rowId;
        window.location = `/pengiriman/status/riwayat/${idTransaksi}`
    }

    function ubahStatus(button){
        const rowId = button.parentElement.parentElement.id
        const [idTransaksi] = rowId;
        window.location = `/pengiriman/status/new/${idTransaksi}`
    }
</script>
{% endblock content %}