{% extends 'shared/base.html' %}

{% block title %}
Detail Batch Pengiriman
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="text-center">
                <h3>DATA BATCH PENGIRIMAN</h3>
            </div>
            <h6>Petugas Satgas: {{petugasSatgas}}</h6>
            <h6>Nomor Transaksi Sumber Daya: {{nomorTransaksi}}</h6>
            <h6>Daftar Batch Pengiriman:</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Kode Batch</th>
                      <th scope="col">Kendaraan</th>
                      <th scope="col">Petugas Distribusi</th>
                      <th scope="col">Asal</th>
                      <th scope="col">Tujuan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in dataBatch %}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        

            <div class="text-center">
                <a href="{% url 'batch:detailAll' %}">
                    <button type="button" class="btn btn-dark btn-lg">KEMBALI</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}