{% extends 'shared/base.html' %}

{% block title %}
Create Batch Pengiriman
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-9">
            <div class="text-center"><h1>FORM BATCH PENGIRIMAN</h1></div>
            <h6>Petugas Satgas: {{petugasSatgas}}</h6>
            <h6>Nomor Transaksi Sumber Daya: {{noTransaksi}}</h6>
            <br>
            <h5>Buat Batch Pengiriman: </h5>
            <form id="form-add" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kodeBatch" class="form-label">Kode Batch: </label>
                    <input class="form-control" type="text"aria-label="Disabled input example" id="kodeBatch" disabled readonly value="{{nextBatchCode}}">
                </div>
                <div class="mb-3">
                    <label for="kodeKendaraan" class="form-label">Pilihan Kendaraan: </label>
                    <select class="form-select" aria-label="Default select example" name="kodeKendaraan" id="kodeKendaraan">
                        <option selected disabled value="">Pilih Kendaraan:</option>
                        {% for key, value in pilihanKendaraan.items %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="usernamePetugas" class="form-label">Pilihan Petugas Distribusi: </label>
                    <select class="form-select" aria-label="Default select example" name="usernamePetugas" id="usernamePetugas">
                        <option selected disabled value="">Pilih Petugas Distribusi:</option>
                        {% for key, value in pilihanPetugasDistribusi.items %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="align-items-center">
                    <button class="btn btn-primary" type="submit">TAMBAH</button>
                </div>
            </form>

            <br>
            <h5>Daftar Batch Pengiriman: </h5>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">Kode Batch</th>
                      <th scope="col">Kendaraan</th>
                      <th scope="col">Petugas Distribusi</th>
                      <th scope="col">Asal</th>
                      <th scope="col">Tujuan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in daftarBatchPengiriman %}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1}}</td>
                            <td>{{i.2}}</td>
                            <td>{{i.3}}</td>
                            <td>{{i.4}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="align-items-center">
                <a href="{% url 'batch:detailAll' %}">
                    <button class="btn btn-primary" type="submit">SIMPAN</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    data = []
    $('#form-add').submit((event) =>{
            event.preventDefault();
            if ($('#kodeKendaraan').val() == null){
                alert('Terdapat data yang belum diisi, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#usernamePetugas').val() == null){
                alert('Terdapat data yang belum diisi, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#jumlahItem').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            var kodeTransaksi = JSON.parse("{{jsonNoTransaksi|escapejs}}")
            var petugasSatgas = JSON.parse("{{jsonPetugasSatgas|escapejs}}")
            $.post(
                `/batch/new/${kodeTransaksi}`,{
                    kodeBatch: $('#kodeBatch').val(),
                    usernameSatgas: petugasSatgas,
                    usernamePDistribusi: $('#usernamePetugas').val(),
                    tandaTerima: "Nice",
                    noTransaksi: kodeTransaksi,
                    kodeKendaraan: $('#kodeKendaraan').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                    location.reload()
                }
            )
        })
</script>
{% endblock content %}