{% extends 'shared/base.html' %}

{% block title %}
Create Status Batch Pengiriman
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center mt-3">
        <div class="col-9">
            <div class="text-center"><h3>UBAH STATUS BATCH PENGIRIMAN</h3></div>
            <br>
            <form id="form-add" method="POST">
                {% csrf_token %}
                <div class="mb-3 text-center">
                    <label for="kodeStatusBatchPengiriman" class="form-label">Status: </label>
                    <select class="form-select" aria-label="Default select example" onchange="changeValOption(this);" name="kodeStatusBatchPengiriman" id="kodeStatusBatchPengiriman">
                        <option selected disabled value="">Pilih Status: </option>
                        {% for i in pilihanKodeStatus %}
                        <option value="">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function changeValOption(status){
        var text = status.options[status.selectedIndex].text
        if(text === "selesai (DLV)"){
            status.options[status.selectedIndex].value = "DLV"
        }else if(text === "hilang (HLG)"){
            status.options[status.selectedIndex].value = "HLG"
        }else if(text === "dikembalikan (RET)"){
            status.options[status.selectedIndex].value = "RET"
        }else if(text === "dalam perjalanan (OTW)"){
            status.options[status.selectedIndex].value = "OTW"
        }
    }
    var kodeTransaksi = JSON.parse("{{kodeTransaksi|escapejs}}")
    $('#form-add').submit((event) =>{
            event.preventDefault();
            if($('#kodeStatusBatchPengiriman').val() === null){
                alert("Pilih Status terlebih dahulu")
                return;
            }
            $.post(
                `/pengiriman/status/new/${kodeTransaksi}`, {
                    kodeStatusBatch: $('#kodeStatusBatchPengiriman').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                window.location.href = '/pengiriman'
                }
            )
        })
</script>
{% endblock content %}