{% extends 'shared/base.html' %}

{% block title %}
Read Status Batch Pengiriman
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center mt-3">
        <div class="col-md-12">
            {% if dataNull %}
            <div class="text-center"><h3>TIDAK ADA DATA YANG DAPAT DITAMPILKAN</h3></div>
            {% else %}
            <div class="text-center"><h3>RIWAYAT STATUS BATCH PENGIRIMAN</h3></div>
            <h6>Nomor Transaksi: {{nomorTransaksi}}</h6>
            <h6>Riwayat status:</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">Kode Status</th>
                      <th scope="col">Status</th>
                      <th scope="col">Username Admin Satgas</th>
                      <th scope="col">Tanggal Persetujuan</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{i.0}}</td>
                            <td>{{i.1.0}}</td>
                            <td>{{i.1.1}}</td>
                            <td>{{i.1.2}}</td>
                            <td>{{i.1.3}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            {% endif %}
            <div class="text-center">
                <a href="{% url 'batch:detailAll' %}">
                    <button type="button" class="btn btn-dark btn-lg">KEMBALI</button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}