{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<style>
    button.btn {
        display: block;
        margin-bottom: 2px;
    }

    .new-pesanan {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
<section>
    {% csrf_token %}
    <div class="container">
        {% if request.session.role == 'Admin Satgas' %}
        <a href="/stok-faskes/new">
            <button class="btn btn-success new-pesanan">
                Buat Stok
            </button>
        </a>
        {% endif %}
        <h1 class="text-center">Data Stok Faskes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Kode Faskes</th>
                    <th scope="col">Nama Faskes</th>
                    <th scope="col">Item Sumber Daya</th>
                    <th scope="col">Jumlah</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for stok in all_stok %}
                <tr id="{{stok.0}}-{{stok.1}}">
                    <th scope="row">{{stok.0}}</th>
                    <td>{{stok.5}} {{stok.4}}, {{stok.3}}</td>
                    <td>{{stok.6}}</td>
                    <td>{{stok.2}}</td>
                    {% if request.session.role == 'Admin Satgas' %}
                    <td>
                        <button onclick="handleUpdateStok(this)" class="btn btn-warning">Update</button>
                        <button onclick="handleDeleteStok(this)" class="btn btn-danger">Hapus</button>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    
    function handleUpdateStok(btn) {
        const rowId = btn.parentElement.parentElement.id.split('-');
        const [idFaskes, idItem] = rowId;

        window.location = `/stok-faskes/update/${idFaskes}/${idItem}`
    }

    function handleDeleteStok(btn) {
        const rowId = btn.parentElement.parentElement.id.split('-');
        const [idFaskes, idItem] = rowId;
        
        $.post(
            `/stok-faskes/delete/${idFaskes}/${idItem}`,
            {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                location.reload()
            }
        )
    }

</script>
{% endblock content %}