{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Form Tambah Stok Faskes</h1>
        <form method="POST" id='submit-form'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="kode-faskes" class="form-label">Kode Faskes</label>
                <select onchange="handleKodeFaskesChange()" name="kode-faskes" id="kode-faskes" class="form-control">
                    {% for faskes in all_faskes %}
                        <option value="{{faskes.0}}">{{faskes.0}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="faskes">Faskes</label>
                <input value="Faskes A" class="form-control" required disabled type="text" id="faskes">
            </div>

            <div class="mb-3">
                <label for="kode-item" class="form-label">Kode Item</label>
                <select onchange="handleKodeItemChange()" name="kode-item" id="kode-item" class="form-control">
                    {% for item in items %}
                        <option value="{{item.0}}">{{item.0}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label" for="item">Item Sumber Daya</label>
                <input class="form-control" required disabled type="text" id="item">
            </div>

            <div class="mb-3">
                <label class="form-label" for="jumlah">Jumlah</label>
                <input class="form-control" required type="number" id="jumlah">
            </div>

            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        </form>
    </div>
</section>

<script>

    function handleKodeFaskesChange() {
        updateFaskes();
    }

    function handleKodeItemChange() {
        updateItem();
    }

    $('#submit-form').submit((event) => {
        event.preventDefault();
        data = {
            'kode-faskes': $('#kode-faskes').val(),
            'kode-item': $('#kode-item').val(),
            'jumlah': $('#jumlah').val()
        };
        $.post(
            `/stok-faskes/new`,
            {
                ...data,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                window.location.href = '/stok-faskes/'
            }
        );
    })

    $(document).ready(() => {
        updateItem();
        updateFaskes();
    })

    function updateItem() {
        const item = getAllItems().filter((item) => {
            return item[0] == $('#kode-item').val()
        })[0];

        $('#item').val(item[2])
    }

    function updateFaskes() {
        const faskes = getAllFaskes().filter((faskes) => {
            return faskes[0] == $('#kode-faskes').val()
        })[0];

        $('#faskes').val(`${faskes[6]} ${faskes[5]}, ${faskes[4]}`);
    }

    function getAllFaskes() {
        return convertToObject("{{all_faskes|safe}}")
    }

    function getAllItems() {
        return convertToObject("{{items|safe}}")
    }

    function convertToObject(s) {
        return JSON.parse(s.replaceAll("'", '"'))
    }

</script>
{% endblock content %}