{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Form Update Stok Faskes</h1>
        <form method="POST" id='form-update'>
            {% csrf_token %}
            <div class="mb-3">
                <label for="kode-faskes" class="form-label">Kode Faskes</label>
                <input required disabled value="{{item.0}}" type="text" class="form-control" id="kode-faskes">
            </div>

            <div class="mb-3">
                <label for="faskes" class="form-label">Faskes</label>
                <input type="text" disabled required value="{{item.5}} {{item.4}}, {{item.3}}" class="form-control" id="faskes">
            </div>

            <div class="mb-3">
                <label for="kode-item" class="form-label">Kode Item</label>
                <input type="text" disabled required value="{{item.1}}" class="form-control" id="kode-item">
            </div>

            <div class="mb-3">
                <label for="item" class="form-label">Item</label>
                <input type="text" required disabled value="{{item.6}}" class="form-control" id="item">
            </div>

            <div class="mb-3">
                <label for="jumlah" class="form-label">Jumlah</label>
                <input type="number" value="{{item.2}}" required class="form-control" id="jumlah">
            </div>

            <button type="submit" class="btn btn-success btn-block">Simpan</button>
        </form>
    </div>
</section>

<script>
    $('#form-update').submit((event) => {
        event.preventDefault();
        if ($('#jumlah').val() <= 0) {
            alert('Harap masukkan jumlah lebih dari 0');
            return ;
        }
        $.post(
            `/stok-faskes/update/${$('#kode-faskes').val()}/${$('#kode-item').val()}`,
            {
                jumlah: $('#jumlah').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                window.location.href = '/stok-faskes/'
            }
        )
    })
</script>
{% endblock content %}