{% extends 'shared/base.html' %}

{% block title %}
All Stok Warehouse
{% endblock title %}

{% block content %}
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="text-center pt-3 pb-3">
                {% if role == "Admin Satgas" %}
                    <a href="{% url 'stokwarehouse:new' %}">
                        <button type="button" class="btn btn-success btn-lg">Buat Stok Warehouse Baru</button>
                    </a>
                {% endif %}
            </div>
            <div class="col-12 pt-3">
                {% for key, value in dictLokasi.items %}
                {% csrf_token %}
                <div class="text-center" id="judulTable" ><h3>{{value}}</h3></div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Item Sumber Daya</th>
                          <th scope="col">Jumlah</th>
                          {% if role == "Admin Satgas" %}<th scope="col">Action</th>{% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in data %}
                            {% if i.0 == key %}
                            <tr id="{{i.0}}-{{i.2}}">
                                <td scope="row">{{i.5}}</td>
                                <td>{{i.1}}</td>
                                {% if role == "Admin Satgas" %}
                                <td>
                                    <button type="button" onclick="updateStokWarehouse(this)" class="btn btn-primary">Update</button>
                                    <button type="button" onclick="deleteStokWarehouse(this)" class="btn btn-danger">Delete</button>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function updateStokWarehouse(button){
            const rowId = button.parentElement.parentElement.id.split('-');
            const [idLokasiWarehouse, kodeItem] = rowId;
            window.location = `/stok-warehouse/update/${idLokasiWarehouse}/${kodeItem}`
        }

        function deleteStokWarehouse(button){
            const rowId = button.parentElement.parentElement.id.split('-');
            const [idLokasiWarehouse, kodeItem] = rowId;
            console.log("MASUK KESINI")
            $.post(
                `/stok-warehouse/delete/${idLokasiWarehouse}/${kodeItem}`,
                {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                    location.reload()
                    alert("Data berhasil dihapus")
                }
            )

            
        }
    </script>
{% endblock content %}