{% extends 'shared/base.html' %}
{% block title %}
Create Stokwarehouse
{% endblock title %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-9">
                <div class="text-center"><h1>FORM TAMBAH STOCK WAREHOUSE SATGAS</h1></div>
                <form id="form-add" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="idLokasi" class="form-label">Id Lokasi: </label>
                        <select class="form-select" aria-label="Default select example" name="idLokasi" id="idLokasi">
                            <option selected disabled value="">Pilih Lokasi: </option>
                            {% for i in dataLokasi %}
                            <option value="{{ i.0 }}">{{ i.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="lokasi" class="form-label">Lokasi: </label>
                        <input class="form-control" type="text" placeholder="Pilih Kode Lokasi terlebih dahulu" aria-label="Disabled input example" id="lokasi" disabled readonly>
                    </div>
                    <div class="mb-3">
                        <label for="kodeItem" class="form-label">Kode Item: </label>
                        <select class="form-select" aria-label="Default select example" name="kodeItem" id="kodeItem">
                            <option selected disabled value="">Pilih Kode Item Sumber Daya:</option>
                            {% for i in dataItem %}
                            <option value="{{ i.0 }}">{{ i.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="itemSumberDaya" class="form-label">Item Sumber Daya: </label>
                        <input class="form-control" type="text" placeholder="Pilih Kode Item Sumber Daya terlebih dahulu" aria-label="Disabled input example" id="itemSumberDaya" disabled readonly>
                    </div>

                    <div class="mb-3">
                        <label for="jumlahItem" class="form-label">Jumlah: </label>
                        <input type="number" class="form-control" id="jumlahItem" name="jumlahItem" placeholder="Masukkan jumlah item" min=0>
                    </div>
                    <div class="align-items-center">
                        <button class="btn btn-primary" type="submit">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>

        var data = JSON.parse("{{dataJsonLokasi|escapejs}}")
        var data2 = JSON.parse("{{dataJsonItem|escapejs}}")
        $(document).ready(function(){
            $("#idLokasi").on("change", function(){
                var id = $(this).val();
                for(var i = 0; i < data.length; i++){
                    if(data[i][0] === id){
                        $("#lokasi").val(data[i][1])
                    }
                }
            })

            $("#kodeItem").on("change", function(){
                var id = $(this).val();
                for(var i = 0; i < data2.length; i++){
                    if(data2[i][0] === id){
                        $("#itemSumberDaya").val(data2[i][1])
                    }
                }
            })
        });

        $('#form-add').submit((event) =>{
            event.preventDefault();
            console.log($('#idLokasi').val())
            console.log($('#kodeItem').val())
            console.log($('#jumlahItem').val())
            if ($('#idLokasi').val() == null){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#kodeItem').val() == null){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#jumlahItem').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            $.post(
                `/stok-warehouse/new`,{
                    idLokasi: $('#idLokasi').val(),
                    kodeItem: $('#kodeItem').val(),
                    jumlahItem: $('#jumlahItem').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                    window.location.href = '/stok-warehouse'
                }
            )
        })
    </script>
{% endblock content %}