{% extends 'shared/base.html' %}

{% block title %}
Update Stokwarehouse
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center">
        <div class="col-9">
            <div class="text-center"><h1>FORM UBAH STOCK WAREHOUSE SATGAS</h1></div>
            <form id="form-update" method="POST">
                {% csrf_token %}
                {% for i in data %}
                <div class="mb-3">
                    <label for="idLokasi" class="form-label">Id Lokasi: </label>
                    <input type="text" class="form-control" id="idLokasi" name="idLokasi" disabled required value="{{i.0}}">
                </div>
                <div class="mb-3">
                    <label for="lokasi" class="form-label">Lokasi: </label>
                    <input class="form-control" type="text" value="{{lokasi}}" aria-label="Disabled input example" id="lokasi" disabled readonly>
                </div>
                <div class="mb-3">
                    <label for="kodeItem" class="form-label">Kode Item: </label>
                    <input type="text" class="form-control" id="kodeItem" name="kodeItem" disabled required value="{{i.2}}">
                </div>
                <div class="mb-3">
                    <label for="itemSumberDaya" class="form-label">Item Sumber Daya: </label>
                    <input class="form-control" type="text" value="{{item}}" aria-label="Disabled input example" id="itemSumberDaya" disabled readonly>
                </div>

                <div class="mb-3">
                    <label for="jumlahItem" class="form-label">Jumlah: </label>
                    <input type="number" class="form-control" id="jumlahItem" name="jumlahItem" min=0 placeholder="Masukkan jumlah item" value="{{i.1}}">
                </div>
                <div class="align-items-center">
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $('#form-update').submit((event) =>{
            event.preventDefault();
            console.log($('#idLokasi').val())
            console.log($('#kodeItem').val())
            console.log($('#jumlahItem').val())

            if ($('#jumlahItem').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            $.post(
                `/stok-warehouse/update/${$('#idLokasi').val()}/${$('#kodeItem').val()}`,{
                    jumlahItem: $('#jumlahItem').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                    window.location.href = '/stok-warehouse'
                }
            )
        })
</script>
{% endblock content %}