{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
{% load static %}
<style>
    .button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 1px solid #8cb2ff;
  margin: 20px 20px 20px 20px;
  color: #8cb2ff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button a {
  color: #00486e;
  text-decoration: none;
  letter-spacing: 1px;
}
    h1 {
        font-size: 48;
        margin-bottom: 50px;
    }

    h2 {
        font-size: 32;
    }

    body {
        background-color: #ffffff !important;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container {
        height: 90vh;
    }

    .row {
        height: 90vh;
    }

    #button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #d0dcff;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #4570b4;
  text-decoration: none;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-7 left">
            {% if request.session.username %}
                <h1>Selamat Datang, {{request.session.role}} {{request.session.username}}</h1>
            {% else %}
                <h1>Selamat Datang</h1>
            {% endif %}
            <h2>Sistem Distribusi</h2>
            <h2>Sumber Daya Penanggulangan Covid</h2>

            {% if request.session.username %}
            <div style="display: flex; flex-wrap: wrap;">
                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' or request.session.role == 'Petugas Distribusi' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/batch">Batch</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' or request.session.role == 'Supplier' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/faskes">Faskes</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Supplier' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/item">Item</a>
                </div>
                {% endif %}

                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/pengiriman">Pengiriman</a>
                </div>

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/permohonan">Permohonan</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Supplier' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/pesanan">Pesanan</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/stok-faskes">Stok Faskes</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' or request.session.role == 'Supplier' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/stok-warehouse">Stok Warehouse</a>
                </div>
                {% endif %}

                {% if request.session.role == 'Admin Satgas' or request.session.role == 'Petugas Faskes' or request.session.role == 'Supplier' %}
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/warehouse">Warehouse</a>
                </div>
                {% endif %}
                
            </div>
            {% else %}
            <div style="display: flex;">
                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/authentication/login">Login</a>
                </div>

                <div class="button" id="button-5">
                    <div id="translate"></div>
                    <a href="/authentication/register">Register</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-5 right">
            <div class="img-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="400" height="291" viewBox="0 0 400 291" fill="none">
                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="400" height="291">
                    <rect width="400" height="291" fill="#C4C4C4"/>
                    </mask>
                    <g mask="url(#mask0)">
                    <path d="M321.54 229.187C321.361 229.424 321.182 229.669 320.986 229.897C319.522 231.828 317.981 233.765 316.364 235.707C313.7 238.922 310.839 242.145 307.851 245.36C305.343 248.08 302.727 250.768 300.003 253.422C299.501 253.937 298.981 254.451 298.462 254.948C274.397 278.457 244.603 300.318 225.024 312.86C214.29 319.731 206.62 323.803 204.594 323.803C203.496 323.803 198.456 321.143 190.923 316.459C172.825 305.296 140.384 282.668 113.952 257.813C111.024 255.063 108.172 252.288 105.44 249.506C103.975 248.031 102.557 246.549 101.183 245.058C100.281 244.106 99.4014 243.157 98.5445 242.211C97.2449 240.774 95.9794 239.346 94.7479 237.927C92.2111 234.994 89.8418 232.07 87.6399 229.155C50.6783 180.096 52.2191 82.7391 52.2191 82.7391C101.226 65.7009 205.267 1 205.267 1C205.267 1 307.885 65.7009 356.969 82.7717C356.969 82.7717 358.51 180.129 321.54 229.187Z" fill="#E39411"/>
                    <path d="M313.862 237.217L313.351 237.927C311.972 239.847 310.527 241.765 309.018 243.679C306.515 246.87 303.834 250.061 301.016 253.251C298.667 255.928 296.206 258.604 293.661 261.248C293.193 261.754 292.708 262.26 292.214 262.766C269.681 286.063 241.777 307.736 223.416 320.163C213.354 326.969 206.169 331 204.288 331C203.266 331 198.542 328.372 191.519 323.762C174.519 312.705 144.155 290.265 119.358 265.622C116.617 262.896 113.944 260.146 111.382 257.388C110.011 255.92 108.666 254.451 107.364 252.974C106.529 252.038 105.707 251.097 104.895 250.15C103.669 248.739 102.486 247.319 101.337 245.907C98.959 243.002 96.74 240.103 94.68 237.209C60.0509 188.583 61.481 92.0743 61.481 92.0743C107.474 75.1422 204.935 11.0288 204.935 11.0288C204.935 11.0288 301.076 75.1422 347.044 92.0824C347.044 92.0824 348.499 188.591 313.862 237.217Z" fill="#EDB14D"/>
                    <path d="M297.645 226.6L297.211 227.204C296.036 228.836 294.804 230.468 293.516 232.1C291.388 234.818 289.107 237.535 286.706 240.26C284.709 242.545 282.62 244.816 280.441 247.074C280.041 247.506 279.59 247.939 279.215 248.363C260.011 268.225 236.235 286.715 220.589 297.275C212.025 303.076 205.905 306.504 204.296 306.504C203.445 306.504 199.401 304.268 193.383 300.335C178.912 290.91 153.05 271.774 131.948 250.795C129.615 248.478 127.334 246.136 125.138 243.785C123.969 242.54 122.834 241.286 121.733 240.024C121.018 239.208 120.311 238.392 119.63 237.625C118.58 236.417 117.567 235.212 116.591 234.01C114.565 231.529 112.675 229.057 110.922 226.592C81.4171 185.164 82.643 102.935 82.643 102.935C121.792 88.5491 204.841 33.8768 204.841 33.8768C204.841 33.8768 286.749 88.549 325.915 102.943C325.915 102.943 327.175 185.172 297.645 226.6Z" fill="#F9D093"/>
                    <path d="M118.98 196.327L85.0493 235.821L59.5116 221.949L51.9609 234.189C51.9609 234.189 55.051 254.948 71.4547 266.071C87.8584 277.193 104.96 269.547 104.96 269.547L118.98 196.327Z" fill="#B6C6EF"/>
                    <path d="M142.858 165.107L142.364 170.003L142.168 171.928C142.168 171.928 124.854 197.641 116.256 221.419C113.166 229.963 111.217 241.574 109.991 252.958C109.157 252.022 108.334 251.081 107.522 250.134C106.296 248.722 105.113 247.303 103.964 245.891C105.173 230.248 107.488 214.255 111.847 204.161C122.853 178.685 142.858 165.107 142.858 165.107Z" fill="white"/>
                    <path d="M152.06 169.391L121.985 265.622C119.244 262.896 116.571 260.146 114.009 257.388C112.639 255.92 111.294 254.451 109.991 252.974C109.157 252.038 108.334 251.097 107.522 250.15C108.374 236.548 110.34 222.145 114.562 211.031C125.748 181.655 141.803 169.839 141.803 169.839L142.381 170.019C145.596 170.794 148.984 170.574 152.06 169.391Z" fill="#00486E"/>
                    <path d="M180.917 124.723C178.226 127.216 174.615 128.586 170.873 128.533L173.273 163.899C151.089 177.893 142.168 171.945 142.168 171.945L138.482 151.724C128.701 152.14 118.971 148.778 114.196 138.211C114.06 137.909 113.932 137.615 113.813 137.305C112.993 135.399 112.291 133.448 111.71 131.463C107.973 118.929 107.973 105.253 107.973 105.253C107.973 105.253 106.62 84.7628 115.822 77.7534C125.024 70.7439 147.489 69.1853 160.487 74.3833C171.077 78.6102 173.75 93.3635 173.205 108.933C174.312 107.944 175.657 107.234 177.12 106.865C178.583 106.496 180.119 106.48 181.59 106.819C189.175 108.509 186.468 119.671 180.917 124.723Z" fill="#FFDDD3"/>
                    <path d="M124.318 115.477L125.578 127.587C125.578 127.587 121.875 127.497 120.615 129.831C119.355 132.164 127.467 133.095 128.915 131.65C130.362 130.206 126.48 115.045 125.305 114.18C124.13 113.315 124.318 115.477 124.318 115.477Z" fill="#D68583"/>
                    <path d="M135.58 134.588C135.58 134.588 133.418 138.219 129.357 139.084C125.297 139.949 122.862 138.219 122.862 138.219L135.58 134.588Z" fill="#E5A5A1"/>
                    <path d="M117.533 105.783C117.533 105.783 113.277 105.171 110.808 107.121C110.808 107.121 110.562 103.955 113.32 103.107C116.078 102.258 117.533 105.783 117.533 105.783Z" fill="#00486E"/>
                    <path d="M139.001 102.323C139.001 102.323 134.796 101.295 132.191 102.992C132.191 102.992 132.277 99.8181 135.12 99.2469C137.963 98.6757 139.001 102.323 139.001 102.323Z" fill="#00486E"/>
                    <path d="M138.482 151.724C138.482 151.724 151.013 149.904 157.372 139.329C157.372 139.329 157.099 145.384 151.413 151.724C145.727 158.064 139.683 158.317 139.683 158.317L138.482 151.724Z" fill="#E5A5A1"/>
                    <path d="M194.095 323.77C177.146 312.705 146.782 290.265 121.985 265.622C119.244 262.896 116.571 260.146 114.009 257.388C116.801 234.818 121.585 207.661 129.221 195.813C135.282 186.42 144.016 177.045 152.06 169.382C158.536 163.201 165.341 157.346 172.448 151.838C172.448 151.838 195.431 170.378 198.649 195.552C201.867 220.725 194.095 323.77 194.095 323.77Z" fill="white"/>
                    <path d="M182.9 88.598C182.764 96.6519 179.938 106.599 179.938 106.599C173.051 106.313 168.685 117.778 168.685 117.778C168.685 117.778 157.618 117.264 152.723 108.443C147.939 99.7772 151.106 87.9289 151.217 87.4964C138.363 94.8404 120.648 95.7299 109.148 93.9102C97.6472 92.0905 92.4971 81.0663 92.4971 81.0663C94.3869 81.0663 104.134 76.9128 104.134 76.9128C100.073 74.7096 100.482 70.3032 100.482 70.3032C100.482 70.3032 103.317 70.5562 113.063 67.8552C122.81 65.1542 137.826 58.7649 153.396 61.4985C168.719 64.1669 171.579 74.1302 171.672 74.4566H171.834C172.234 74.4763 172.632 74.5199 173.026 74.5872C174.863 74.8589 176.602 75.5621 178.088 76.6342C179.573 77.7063 180.758 79.1139 181.538 80.7317C181.741 81.1341 181.918 81.5484 182.066 81.972C182.733 84.1196 183.015 86.36 182.9 88.598V88.598Z" fill="#00486E"/>
                    <path d="M110.544 128.444C109.737 128.446 108.948 128.213 108.283 127.775C107.617 127.338 107.105 126.718 106.815 125.996L104.262 119.468L105.045 119.182L107.599 125.669C107.86 126.341 108.363 126.901 109.017 127.248C109.671 127.595 110.433 127.707 111.165 127.562L119.627 125.93C120.402 125.793 121.095 125.381 121.568 124.776C122.042 124.171 122.26 123.418 122.181 122.666L121.559 114.996L122.41 114.931L123.032 122.601C123.118 123.539 122.84 124.474 122.25 125.227C121.661 125.98 120.803 126.498 119.84 126.681L111.387 128.313C111.111 128.383 110.829 128.427 110.544 128.444Z" fill="#9C9B9B"/>
                    <path d="M135.401 123.572C134.595 123.573 133.808 123.34 133.143 122.903C132.479 122.466 131.969 121.845 131.681 121.124L129.127 114.637L129.91 114.351L132.464 120.838C132.728 121.51 133.233 122.069 133.888 122.416C134.543 122.763 135.306 122.875 136.039 122.731L144.492 121.099C145.267 120.962 145.961 120.55 146.434 119.945C146.907 119.341 147.125 118.587 147.046 117.835L146.433 110.165L147.284 110.1L147.897 117.77C147.985 118.707 147.709 119.642 147.121 120.395C146.533 121.148 145.676 121.667 144.713 121.85L136.252 123.482C135.972 123.539 135.687 123.57 135.401 123.572Z" fill="#9C9B9B"/>
                    <path d="M144.45 106.575C142.433 106.779 134.167 108.427 129.979 109.276C129.369 109.4 128.82 109.714 128.415 110.169C128.01 110.623 127.773 111.192 127.74 111.789C125.745 111.346 123.648 111.637 121.866 112.605C121.661 112.214 121.338 111.89 120.939 111.677C120.54 111.463 120.083 111.368 119.628 111.405C117.619 111.609 109.353 113.266 105.156 114.106C104.483 114.245 103.885 114.611 103.472 115.139C103.059 115.667 102.859 116.321 102.909 116.979L103.564 119.525L105.71 119.076C105.71 119.076 104.901 116.057 105.939 115.583C106.978 115.11 118.453 112.621 119.543 113.029C120.632 113.437 121.245 115.861 121.245 115.861L122.888 115.502C122.791 114.776 122.597 114.066 122.309 113.388C124.004 112.45 126.019 112.194 127.91 112.678L128.438 114.735L130.583 114.286C130.583 114.286 129.775 111.267 130.805 110.793C131.835 110.32 143.267 107.799 144.34 108.166C145.412 108.533 146.042 110.997 146.042 110.997L147.634 110.581C147.634 110.581 147.174 106.297 144.45 106.575Z" fill="#00486E"/>
                    <path d="M146.671 107.75C146.671 107.75 150.076 107.497 158.129 107.75C163.416 107.963 168.681 108.53 173.886 109.447L173.034 110.377C173.034 110.377 162.504 109.479 156.554 109.479C153.513 109.442 150.471 109.573 147.446 109.871C147.23 109.15 146.972 108.442 146.671 107.75V107.75Z" fill="#126489"/>
                    <path d="M154.009 127.905C154.299 129.602 152.307 131.324 149.583 131.748C146.859 132.173 144.407 131.144 144.126 129.447C143.845 127.75 145.829 126.028 148.544 125.604C151.26 125.179 153.72 126.208 154.009 127.905Z" fill="#FFC9C3"/>
                    <path d="M114.145 137.273H113.813C112.992 135.366 112.29 133.416 111.71 131.43C112.162 131.283 112.626 131.171 113.098 131.095C115.83 130.671 118.282 131.699 118.563 133.397C118.843 135.094 116.877 136.848 114.145 137.273Z" fill="#FFC9C3"/>
                    <path d="M36.6381 173.756L0.706544 140.039L0 142.731L32.4414 175.576L36.6381 173.756Z" fill="white"/>
                    <path d="M53.2806 180.105L33.5995 166.959L26.3213 174.107L40.35 193.006L53.2806 180.105Z" fill="#4570B4"/>
                    <path d="M159.593 265.565L158.206 266.928L144.875 280.065L127.28 297.381L114.902 284.39L113.753 283.182L81.0648 248.91L79.9242 247.719L44.8354 210.958L43.7032 209.775L36.7995 202.537C34.8502 200.493 33.7742 197.82 33.7852 195.051C33.7963 192.282 34.8935 189.617 36.8591 187.588C37.0298 187.401 37.2117 187.224 37.4039 187.057L48.1808 177.339C50.3304 175.396 53.1774 174.321 56.1315 174.336C59.0857 174.351 61.9205 175.456 64.0482 177.42L159.593 265.565Z" fill="#8CB2FF"/>
                    <path d="M144.875 280.065L127.28 297.381L114.902 284.39L113.753 283.182L81.0648 248.91L79.9241 247.719L44.8354 210.958L43.7032 209.775L36.7995 202.537C34.8502 200.492 33.7742 197.82 33.7852 195.051C33.7963 192.281 34.8935 189.617 36.8591 187.587C45.593 198.195 63.3417 218.979 88.2494 244.471C112.502 269.335 133.519 277.421 144.875 280.065Z" fill="#7AA5EA"/>
                    <path d="M159.593 265.565L158.206 266.927C155.312 267.801 150.315 268.151 143.811 264.251C133.196 257.87 58.6855 184.568 58.6855 184.568C55.7232 179.803 55.4507 176.114 57.5278 174.474C59.9811 174.773 62.268 175.824 64.0484 177.469L159.593 265.565Z" fill="#ABCBFF"/>
                    <path d="M144.935 276.964L180.688 314.99L175.138 318.132L137.376 282.374L144.935 276.964Z" fill="#4570B4"/>
                    <path d="M122.512 274.663L114.902 284.39L113.753 283.182L121.167 273.676C121.49 273.265 121.648 272.756 121.614 272.243C121.58 271.73 121.355 271.245 120.98 270.877L90.454 240.407L81.0902 248.959L79.9495 247.768L89.3133 239.248L55.3141 205.286C54.9162 204.892 54.3779 204.657 53.8067 204.627C53.2355 204.596 52.6734 204.774 52.2326 205.123L44.8607 211.007L43.7285 209.823L51.1515 203.891C51.9194 203.282 52.8984 202.972 53.8937 203.024C54.889 203.075 55.8277 203.484 56.5229 204.168L122.214 269.775C122.861 270.423 123.247 271.271 123.301 272.167C123.356 273.062 123.076 273.947 122.512 274.663V274.663Z" fill="#4570B4"/>
                    <path d="M58.6855 212.174L63.2483 207.775" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M63.6826 217.11L68.2454 212.712" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M68.6797 222.039L73.2509 217.649" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M73.6846 226.976L78.2473 222.578" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M78.6816 231.913L83.2444 227.514" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M83.6787 236.85L88.2415 232.451" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M88.1992 241.468L92.762 237.07" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M93.6719 246.715L98.2431 242.317" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M98.6777 251.652L103.241 247.254" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M103.675 256.581L108.238 252.182" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M108.672 261.517L113.235 257.119" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M113.668 266.454L118.239 262.056" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M118.674 271.383L123.237 266.985" stroke="#4570B4" stroke-width="0.838487" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M47.8069 176.449L34.1357 184.625L36.6384 188.004L48.6326 177.004L47.8069 176.449Z" fill="#345B93"/>
                    <path d="M146.169 298.939L143.181 301.526C142.398 303.887 141.412 306.182 140.236 308.389C138.695 311.049 135.375 314.704 131.97 314.917C128.565 315.129 128.369 313.391 128.369 313.391C128.369 313.391 125.765 314.06 124.181 313.113C123.737 312.856 123.386 312.476 123.173 312.023C122.96 311.569 122.896 311.064 122.99 310.576C122.99 310.576 120.359 310.633 119.142 309.49C118.793 309.122 118.554 308.672 118.447 308.186C118.341 307.7 118.372 307.195 118.537 306.724C118.537 306.724 116.145 307.042 115.26 305.19C114.783 304.219 115.107 302.081 115.95 299.984C116.609 298.161 117.789 296.552 119.355 295.341C122.351 293.399 131.349 290.241 131.349 290.241L136.405 287.368L146.169 298.939Z" fill="#FFDDD3"/>
                    <path d="M205.57 257.755C200.53 288.429 152.06 310.216 152.06 310.216L147.804 305.459L131.774 287.507L177.427 245.679L158.444 197.118C157.743 193.749 157.782 190.277 158.559 186.923C159.335 183.57 160.833 180.408 162.956 177.64C170.098 168.33 184.093 166.551 193.227 174.099L193.286 174.156C194.121 174.827 194.859 175.601 195.482 176.457C195.695 176.76 195.886 177.076 196.053 177.404C200.837 186.396 210.414 228.306 205.57 257.755Z" fill="#D0DCFF"/>
                    <path d="M63.1548 230.974C62.3036 228.526 59.4008 226.078 59.4008 226.078C59.4008 226.078 62.4653 220.872 60.4138 219.893C58.507 218.979 55.817 221.909 55.4595 222.284C55.7574 221.745 58.8645 216.009 56.6512 215.364C54.6933 214.793 52.3949 217.771 51.7139 218.628C53.0334 216.588 54.7018 212.1 52.5056 211.48C50.735 211.007 48.3515 213.993 47.3555 215.381C48.3855 213.749 50.6328 209.775 48.1046 209.334C44.9209 208.787 41.4563 214.23 40.8859 216.98C40.5138 218.837 40.5725 220.751 41.058 222.584C41.5435 224.417 42.4438 226.126 43.6951 227.588C43.9624 227.888 44.2466 228.174 44.5463 228.445C48.1642 231.815 55.6127 235.242 55.6127 235.242C59.205 236.091 63.9891 233.398 63.1548 230.974Z" fill="#FFDDD3"/>
                    <path d="M132.583 115.232C132.583 115.232 134.234 110.573 137.427 110.1C140.619 109.626 143.53 111.128 145.403 113.723C145.403 113.723 145.65 117.754 143.59 120.512C141.069 121.175 138.466 121.504 135.852 121.491C135.852 121.491 132.813 118.741 132.583 115.232Z" fill="white"/>
                    <path d="M136.081 116.53C136.464 119.084 138.635 120.895 141.002 120.61C143.368 120.324 144.926 117.966 144.551 115.42C144.177 112.874 141.998 111.054 139.64 111.34C137.282 111.626 135.715 113.984 136.081 116.53Z" fill="#00486E"/>
                    <path d="M141.028 114.661C141.028 114.806 141.061 114.949 141.124 115.081C141.187 115.213 141.278 115.33 141.393 115.425C141.507 115.52 141.641 115.59 141.787 115.631C141.932 115.672 142.084 115.682 142.234 115.661C142.384 115.641 142.527 115.59 142.654 115.511C142.781 115.433 142.89 115.329 142.971 115.207C143.053 115.085 143.107 114.948 143.128 114.804C143.15 114.661 143.139 114.515 143.096 114.376C143.096 114.231 143.064 114.087 143.001 113.956C142.938 113.824 142.846 113.706 142.732 113.612C142.617 113.517 142.483 113.446 142.338 113.406C142.193 113.365 142.04 113.355 141.89 113.375C141.741 113.396 141.597 113.447 141.47 113.526C141.343 113.604 141.235 113.708 141.153 113.829C141.071 113.951 141.018 114.089 140.996 114.232C140.975 114.376 140.985 114.522 141.028 114.661V114.661Z" fill="white"/>
                    <path d="M110.238 120.03C110.238 120.03 111.43 115.771 114.265 115.134C115.644 114.875 117.071 114.999 118.379 115.492C119.687 115.985 120.82 116.826 121.645 117.917C121.645 117.917 122.113 121.524 120.436 124.11C118.221 124.854 115.909 125.301 113.567 125.441C113.567 125.441 110.664 123.188 110.238 120.03Z" fill="white"/>
                    <path d="M113.456 121.001C113.958 123.27 116.009 124.763 118.12 124.347C120.232 123.931 121.474 121.752 120.981 119.451C120.487 117.15 118.427 115.689 116.316 116.114C114.205 116.538 112.962 118.741 113.456 121.001Z" fill="#00486E"/>
                    <path d="M117.78 119.035C117.84 119.2 117.948 119.344 118.091 119.452C118.234 119.559 118.407 119.625 118.588 119.64C118.769 119.656 118.951 119.621 119.112 119.54C119.273 119.459 119.406 119.336 119.495 119.184C119.585 119.032 119.627 118.859 119.616 118.685C119.606 118.511 119.543 118.344 119.435 118.203C119.328 118.063 119.181 117.955 119.011 117.892C118.841 117.83 118.656 117.816 118.478 117.852C118.222 117.92 118.005 118.083 117.874 118.305C117.743 118.527 117.71 118.789 117.78 119.035V119.035Z" fill="white"/>
                    <path d="M180.611 110.091C178.568 110.777 176.712 112.686 175.078 115.306C175.078 115.306 176.78 115.436 176.653 117.59C176.525 119.745 173.171 121.189 173.171 121.189C173.171 121.189 171.826 123.776 174.388 123.735C175.69 123.701 176.926 123.181 177.834 122.287C178.742 121.392 179.25 120.193 179.249 118.945C179.327 118.178 179.188 117.405 178.846 116.707C178.505 116.009 177.973 115.412 177.308 114.979C177.308 114.979 178.483 112.825 180.007 112.262C181.531 111.699 180.509 116.53 181.633 116.701C182.756 116.872 184.238 108.884 180.611 110.091Z" fill="#E5A5A1"/>
                    <path d="M171.664 74.4485L157.687 81.05C157.687 81.05 160.504 76.97 164.224 75.338C166.569 74.3801 169.146 74.072 171.664 74.4485V74.4485Z" fill="#0A597C"/>
                    <path d="M182.901 88.5978C182.432 88.7937 181.905 88.9977 181.317 89.218L178.985 85.2033L179.462 89.879C177.476 90.5434 175.449 91.0885 173.392 91.511L172.268 88.7121L172.132 91.7558C171.443 91.87 170.745 91.9843 170.038 92.074L168.063 92.3025L167.008 89.6831L166.888 92.4249C161.236 92.9716 159.551 92.5881 159.551 92.5881L159.125 88.3449C160.124 88.4369 161.131 88.4369 162.13 88.3449L163.262 90.8419V88.2633C164.934 88.0848 166.594 87.8123 168.233 87.4473L169.595 90.2217L169.502 87.1535C170.081 87.0148 170.668 86.8598 171.298 86.6884C172.328 86.4015 173.338 86.0499 174.32 85.6358L175.81 88.6713L175.699 85.0074C177.923 83.9397 179.911 82.4714 181.556 80.6826C181.759 81.085 181.935 81.4993 182.083 81.9229C182.75 84.0871 183.026 86.3445 182.901 88.5978Z" fill="#0A597C"/>
                    <path d="M100.363 85.285C100.363 85.285 104.866 91.7396 120.478 92.7678C130.017 93.3143 139.519 91.2332 147.863 86.7702C147.863 86.7702 131.06 91.6091 119.431 89.8791C112.926 88.9876 106.535 87.4479 100.363 85.285V85.285Z" fill="#0A597C"/>
                    <path d="M171.673 74.4403L170.532 74.3261C170.532 74.3261 160.879 63.718 149.413 63.2856C137.946 62.8531 122.309 68.3448 112.953 70.3032C103.598 72.2616 100.482 70.3032 100.482 70.3032C100.482 70.3032 103.317 70.5562 113.064 67.8552C122.811 65.1542 137.827 58.7649 153.397 61.4985C168.694 64.1505 171.579 74.1139 171.673 74.4403Z" fill="#0A597C"/>
                    <path d="M173.026 74.5872L171.834 74.4565C172.234 74.4762 172.632 74.5199 173.026 74.5872V74.5872Z" fill="#FFC9C3"/>
                    <path d="M92.4971 81.0663C92.4971 81.0663 94.123 81.7354 99.0432 80.7317C101.954 80.1507 104.672 78.8956 106.96 77.076L104.134 76.9128L92.4971 81.0663Z" fill="#0A597C"/>
                    <path d="M205.57 257.756C200.531 288.429 152.06 310.216 152.06 310.216L147.804 305.459C158.819 299.217 190.869 279.657 198.079 259.763C206.821 235.609 193.218 174.083 193.218 174.083L193.278 174.14C194.258 175.181 195.181 176.271 196.044 177.404C200.837 186.396 210.414 228.306 205.57 257.756Z" fill="#B6C6EF"/>
                    <path d="M178.219 248.021L194.146 258.057C194.146 258.057 193.958 245.262 178.219 248.021Z" fill="#B6C6EF"/>
                    <path d="M46.6317 216.58L44.478 221.81C44.478 221.81 43.0989 217.731 46.6317 216.58Z" fill="#E5A5A1"/>
                    <path d="M51.5693 218.914L49.4071 224.144C49.4071 224.144 48.0366 220.064 51.5693 218.914Z" fill="#E5A5A1"/>
                    <path d="M55.1014 222.374L52.9477 227.604C52.9477 227.604 51.5686 223.524 55.1014 222.374Z" fill="#E5A5A1"/>
                    <path d="M132.362 289.653L142.637 303.044L143.182 301.501L143.812 300.955L133.282 289.131L132.362 289.653Z" fill="#E5A5A1"/>
                    <path d="M55.5702 235.299C55.5702 235.299 48.1473 231.872 44.5039 228.502C47.4492 230.134 51.5863 231.986 55.0765 231.986C61.2736 231.986 60.5501 229.048 60.5501 229.048L58.3027 226.127C58.3027 226.127 60.4649 222.414 59.835 220.864C59.2051 219.314 55.783 222.023 55.434 222.284C55.7915 221.908 58.4815 218.979 60.3883 219.893C62.4398 220.872 59.3753 226.078 59.3753 226.078C59.3753 226.078 62.3036 228.526 63.1294 230.974C63.9551 233.422 59.2051 236.091 55.5702 235.299Z" fill="#E5A5A1"/>
                    <path d="M315.978 237.927C314.599 239.847 313.155 241.765 311.645 243.68C309.143 246.87 306.461 250.061 303.643 253.251C301.294 255.928 298.834 258.604 296.289 261.248C295.82 261.754 295.335 262.26 294.841 262.766L286.686 230.534L271.457 170.378L271.176 169.276L270.146 165.196L276.105 163.842C276.105 163.842 303.15 180.978 311.739 216.327C313.697 224.348 315.05 231.611 315.978 237.927Z" fill="white"/>
                    <path d="M315.008 155.608C311.041 161.124 302.92 159.917 302.92 159.917L303.644 151.961C301.959 154.959 299.466 157.47 296.425 159.231C292.101 161.622 284.737 160.202 280.541 159.076C278.608 158.554 277.34 158.097 277.34 158.097L277.825 157.281C280.507 152.964 293.574 131.324 296.962 113.347C297.813 108.868 297.183 103.98 295.557 99.0511C289.939 81.915 272.36 64.3709 263.396 62.0372C263.396 62.0372 270.913 56.2436 285.418 60.0706C304.81 65.1951 312.761 71.7884 320.397 94.6773C330.501 124.951 318.984 150.084 315.008 155.608Z" fill="#00486E"/>
                    <path d="M311.645 243.679C309.142 246.87 306.461 250.06 303.643 253.251C301.294 255.927 298.834 258.604 296.288 261.248L286.686 230.533L267.584 169.415C268.826 169.894 270.128 170.218 271.457 170.378C271.755 170.418 272.079 170.459 272.411 170.476C274.251 170.633 276.105 170.427 277.859 169.872C277.859 169.872 293.905 181.663 305.099 211.064C308.649 220.399 310.615 232.092 311.645 243.679Z" fill="#00486E"/>
                    <path d="M302.92 159.917L303.644 151.961C301.959 154.959 299.466 157.47 296.425 159.231C292.101 161.622 284.737 160.202 280.541 159.076C279.592 158.556 278.684 157.97 277.825 157.322C280.507 153.005 293.573 131.365 296.961 113.388C297.813 108.908 297.183 104.02 295.557 99.0917L309.475 86.5007C309.475 86.5007 316.106 102.225 317.187 125.914C318.268 149.602 302.92 159.917 302.92 159.917Z" fill="#003E54"/>
                    <path d="M311.679 105.261C311.532 113.656 310.39 122.009 308.274 130.157C307.865 131.658 307.423 133.152 306.869 134.62C306.418 135.853 305.941 137.068 305.414 138.219C300.638 148.786 290.942 152.148 281.136 151.732L279.919 171.953C279.919 171.953 272.087 176.286 246.336 163.907L248.78 128.533C245.032 128.588 241.414 127.218 238.718 124.722C233.167 119.671 233.38 110.246 238.045 106.827C239.218 105.899 240.691 105.392 242.212 105.392C243.733 105.392 245.206 105.899 246.379 106.827C245.834 91.2581 248.567 78.61 259.148 74.3831C272.147 69.1852 294.611 70.7519 303.813 77.7532C313.015 84.7545 311.679 105.261 311.679 105.261Z" fill="#FFDDD3"/>
                    <path d="M287.64 116.424C287.64 116.424 286.338 111.666 283.188 110.981C280.039 110.296 277.025 111.585 274.957 114.041C274.957 114.041 274.42 118.048 276.259 120.936C278.729 121.772 281.307 122.28 283.92 122.446C283.92 122.446 287.147 119.924 287.64 116.424Z" fill="white"/>
                    <path d="M301.898 98.1287C292.049 109.716 273.39 107.594 273.39 107.594C273.39 107.594 270.436 114.171 265.678 117.631C260.919 121.091 257.165 120.234 257.165 120.234C257.165 120.234 255.624 112.074 250.678 108.231C249.782 107.481 248.67 107.008 247.488 106.874C246.306 106.74 245.11 106.951 244.056 107.48C242.293 108.41 240.651 110.401 241.034 114.628C241.244 116.959 241.994 119.215 243.23 121.233C244.465 123.25 246.155 124.977 248.176 126.289C249.806 127.397 251.673 128.144 253.641 128.476L254.364 128.541L252.926 151.846C252.926 151.846 248.346 153.894 240.361 151.846C232.376 149.798 230.733 146.346 230.733 146.346V136.318L227.456 145.481C227.456 145.481 219.25 144.788 214.321 138.219C213.116 136.624 212.261 134.812 211.81 132.89C210.499 127.317 212.414 120.748 216.109 112.947C221.395 101.793 231.431 93.9834 231.431 93.9834C232.366 88.9269 233.968 84.005 236.199 79.3362C238.108 75.2442 240.683 71.4683 243.826 68.1488C247.576 64.1201 252.521 61.287 257.999 60.0295C279.996 55.1906 305.976 76.1619 310.275 82.0616C310.224 82.0208 311.748 86.5415 301.898 98.1287Z" fill="#00486E"/>
                    <path d="M296.162 114.261L294.902 126.371C294.902 126.371 298.605 126.281 299.865 128.615C301.125 130.949 293.012 131.879 291.565 130.435C290.118 128.99 294 113.829 295.174 112.964C296.349 112.099 296.162 114.261 296.162 114.261Z" fill="#D68583"/>
                    <path d="M284.064 134.588C284.064 134.588 286.235 138.219 290.296 139.084C294.356 139.949 296.791 138.219 296.791 138.219L284.064 134.588Z" fill="#E5A5A1"/>
                    <path d="M284.048 117.484C283.477 119.998 281.154 121.654 278.847 121.181C276.54 120.708 275.118 118.276 275.688 115.755C276.259 113.233 278.583 111.585 280.89 112.058C283.197 112.531 284.61 114.963 284.048 117.484Z" fill="#00486E"/>
                    <path d="M279.256 115.273C279.246 115.418 279.204 115.559 279.132 115.687C279.06 115.816 278.961 115.927 278.84 116.015C278.719 116.103 278.58 116.165 278.432 116.197C278.284 116.228 278.131 116.229 277.983 116.199C277.834 116.169 277.695 116.108 277.573 116.021C277.451 115.935 277.35 115.824 277.277 115.697C277.204 115.569 277.161 115.429 277.149 115.284C277.138 115.139 277.16 114.993 277.212 114.857C277.222 114.712 277.264 114.57 277.336 114.442C277.408 114.314 277.507 114.203 277.628 114.115C277.749 114.027 277.888 113.965 278.036 113.933C278.184 113.902 278.337 113.901 278.485 113.931C278.634 113.961 278.773 114.022 278.895 114.108C279.017 114.195 279.118 114.306 279.191 114.433C279.264 114.56 279.307 114.701 279.319 114.846C279.33 114.991 279.308 115.137 279.256 115.273V115.273Z" fill="white"/>
                    <path d="M308.223 119.908C308.223 119.908 307.193 115.934 304.708 115.355C302.222 114.775 299.83 115.861 298.196 117.917C298.196 117.917 297.77 121.271 299.226 123.686C301.167 124.381 303.202 124.805 305.27 124.943C306.803 123.62 307.84 121.851 308.223 119.908V119.908Z" fill="white"/>
                    <path d="M305.38 120.798C304.938 122.903 303.09 124.282 301.269 123.882C299.447 123.482 298.323 121.434 298.774 119.353C299.226 117.272 301.064 115.869 302.886 116.261C304.708 116.652 305.831 118.692 305.38 120.798Z" fill="#00486E"/>
                    <path d="M301.388 106.925C301.388 106.925 305.593 105.897 308.198 107.603C308.198 107.603 308.113 104.428 305.269 103.857C302.426 103.286 301.388 106.925 301.388 106.925Z" fill="#00486E"/>
                    <path d="M281.162 151.724C281.162 151.724 268.64 149.904 262.281 139.329C262.281 139.329 262.554 145.384 268.24 151.724C273.926 158.064 280.771 158.497 280.771 158.497L281.162 151.724Z" fill="#E5A5A1"/>
                    <path d="M303.644 253.251C301.294 255.928 298.834 258.604 296.289 261.248C295.821 261.754 295.336 262.26 294.842 262.766C272.309 286.063 244.405 307.736 226.043 320.163C226.043 320.163 217.778 220.725 221.021 195.551C224.264 170.378 247.231 151.846 247.231 151.846C256.021 156.564 264.09 162.421 271.211 169.252L272.445 170.451C280.034 177.769 286.144 186.371 290.466 195.821C295.693 207.751 300.324 231.978 303.644 253.251Z" fill="white"/>
                    <path d="M385.534 244.961L385.092 248.535L378.444 301.958L377.916 306.112C377.847 306.713 377.73 307.307 377.567 307.891C376.707 311.078 374.671 313.858 371.836 315.715C369.002 317.573 365.56 318.382 362.15 317.993L302.069 311.106C300.22 310.896 298.433 310.34 296.809 309.467C295.185 308.595 293.757 307.424 292.605 306.022C291.454 304.62 290.603 303.014 290.1 301.296C289.597 299.578 289.452 297.781 289.674 296.01L290.143 292.215L291.232 283.5L296.655 240.008L297.293 234.867C298.078 228.583 300.86 222.682 305.263 217.966C309.665 213.249 315.475 209.945 321.903 208.502L322.873 200.635L323.146 198.514L368.109 203.655L367.811 206.037L366.96 213.243C373.162 215.961 378.303 220.498 381.642 226.199C384.98 231.899 386.343 238.469 385.534 244.961V244.961Z" fill="#8CB2FF"/>
                    <path d="M377.967 197.02C377.803 198.362 377.365 199.658 376.677 200.837C375.988 202.015 375.064 203.051 373.956 203.885C372.848 204.719 371.58 205.335 370.223 205.698C368.866 206.06 367.447 206.161 366.049 205.996L325.742 201.386C322.926 201.061 320.359 199.677 318.607 197.539C316.855 195.4 316.061 192.682 316.4 189.982C316.738 187.283 318.182 184.822 320.413 183.143C322.644 181.463 325.48 180.702 328.296 181.027L368.62 185.653C371.428 185.98 373.988 187.359 375.739 189.489C377.49 191.619 378.291 194.326 377.967 197.02V197.02Z" fill="#4570B4"/>
                    <path d="M385.134 248.535L378.486 301.958C370.228 303.223 349.781 302.774 332.22 300.326C322.243 298.923 314.343 297.576 308.112 296.361C299.14 294.614 293.641 293.154 290.193 292.281L291.283 283.566L296.705 240.073C305.022 241.949 322.422 245.328 346.742 247.123C364.832 248.388 377.294 248.624 385.134 248.535Z" fill="#4570B4"/>
                    <path d="M356.234 267.025L342.571 275.414L343.797 281.305C343.797 281.305 324.635 290.281 308.087 296.287C299.115 294.541 293.616 293.08 290.168 292.207L291.258 283.492L357.136 264.724L356.234 267.025Z" fill="#345B93"/>
                    <path d="M360.925 260.922L360.125 261.256C357.877 262.178 355.868 262.953 354.855 263.329L354.898 263.851C354.938 263.79 354.983 263.733 355.034 263.68C356.66 262.9 358.345 262.237 360.074 261.697C360.865 261.381 361.737 261.301 362.576 261.468C364.1 262.146 363.01 264.129 360.125 265.328C357.239 266.528 355.153 267.523 355.153 267.523L344.274 269.857L336.094 271.595L334.825 271.872L329.028 259.094L330.68 258.637L332.825 258.049L334.195 257.666C334.195 257.666 335.592 252.044 337.166 249.277C338.741 246.511 344.921 242.831 347.16 243.826L347.322 243.908C349.416 245.165 344.768 249.024 343.993 249.44L342.768 251.374L353.885 249.302C353.885 249.302 355.213 248.665 356.864 247.996C359.086 247.107 361.921 246.168 362.968 246.633C364.807 247.449 363.487 249.848 360.014 251.293L358.822 251.782C356.898 252.598 355.17 253.227 354.191 253.602V254.263C355.23 253.798 357.128 252.957 359.001 252.296C361.044 251.554 363.07 251.007 363.853 251.35C365.692 252.166 364.381 254.565 360.891 256.009L360.04 256.376C357.486 257.405 355.29 258.253 354.515 258.547L354.557 259.208C354.634 259.11 354.702 259.02 354.787 258.931C356.509 258.112 358.28 257.393 360.091 256.776C361.665 256.27 363.164 255.96 363.87 256.262C365.726 257.078 364.415 259.469 360.925 260.922Z" fill="#FFDDD3"/>
                    <path d="M338.315 276.964C338.315 276.964 261.498 315.202 244.302 293.749C230.086 276.042 220.408 238.669 217.777 212.459C217.246 207.545 217.013 202.605 217.079 197.665C217.109 196.11 217.252 194.558 217.505 193.022C220.288 176.122 243.383 171.153 253.607 185.188L253.896 185.58C263.498 199.003 267.567 261.134 267.567 261.134L327.913 251.929L336.196 271.88L338.315 276.964Z" fill="#D0DCFF"/>
                    <path d="M271.628 129.382C273.79 129.382 275.544 127.829 275.544 125.914C275.544 123.998 273.79 122.446 271.628 122.446C269.465 122.446 267.712 123.998 267.712 125.914C267.712 127.829 269.465 129.382 271.628 129.382Z" fill="#FFC9C3"/>
                    <path d="M308.309 130.165C307.9 131.667 307.458 133.16 306.904 134.629C306.269 134.984 305.546 135.17 304.81 135.167C304.314 135.2 303.817 135.134 303.348 134.975C302.88 134.815 302.45 134.565 302.087 134.24C301.724 133.915 301.434 133.521 301.236 133.084C301.038 132.647 300.936 132.176 300.936 131.699C300.936 131.223 301.038 130.751 301.236 130.314C301.434 129.877 301.724 129.484 302.087 129.158C302.45 128.833 302.88 128.583 303.348 128.424C303.817 128.264 304.314 128.199 304.81 128.231C305.521 128.221 306.222 128.395 306.838 128.736C307.454 129.076 307.962 129.57 308.309 130.165V130.165Z" fill="#FFC9C3"/>
                    <path d="M301.499 119.133C301.445 119.282 301.348 119.413 301.218 119.51C301.088 119.607 300.932 119.666 300.768 119.68C300.604 119.694 300.439 119.662 300.294 119.587C300.149 119.513 300.029 119.4 299.949 119.262C299.87 119.124 299.833 118.967 299.845 118.81C299.856 118.652 299.915 118.502 300.014 118.376C300.114 118.25 300.249 118.154 300.403 118.1C300.558 118.046 300.726 118.036 300.886 118.072C300.999 118.103 301.104 118.155 301.196 118.225C301.288 118.295 301.365 118.382 301.422 118.481C301.479 118.579 301.515 118.687 301.528 118.799C301.541 118.911 301.531 119.025 301.499 119.133Z" fill="white"/>
                    <path d="M258.094 76.1049L255.438 81.1233V75.142C253.877 74.549 252.504 73.9724 251.318 73.4121L246.542 78.4223L248.432 71.8943C245.776 70.3765 244.431 69.0872 243.775 68.108C240.651 71.431 238.094 75.2068 236.199 79.2954C237.414 80.1936 238.691 81.0115 240.021 81.7435L243.171 76.5782L242.754 83.1062C245.134 84.2083 247.606 85.1199 250.143 85.8316C252.71 86.5985 255.319 87.2331 257.957 87.7329L262.128 80.5766L261.796 88.2878C264.409 88.5948 267.039 88.7339 269.671 88.704L271.85 81.9638L273.016 88.5571C274.775 88.4489 276.521 88.195 278.234 87.7982L284.925 79.9809C284.925 79.9809 273.774 81.5231 258.094 76.1049Z" fill="#0A597C"/>
                    <path d="M269.261 59.581C269.261 59.581 276.071 60.9845 285.647 66.8516C295.224 72.7186 296.603 74.4322 296.603 74.4322C296.603 74.4322 288.014 58.6426 269.261 59.581Z" fill="#0A597C"/>
                    <path d="M274.889 103.09C274.889 103.09 285.291 103.351 293.923 99.0102C302.555 94.6691 304.266 87.8309 304.266 87.8309C304.266 87.8309 295.149 99.206 274.889 103.09Z" fill="#0A597C"/>
                    <path d="M216.449 132.376C216.449 132.376 217.164 108.459 230.963 97.2883L216.449 132.376Z" fill="#0A597C"/>
                    <path d="M254.339 128.533L252.9 151.838C252.9 151.838 248.32 153.886 240.335 151.838C232.351 149.79 230.708 146.338 230.708 146.338V136.318L227.43 145.481C227.43 145.481 219.224 144.788 214.295 138.219C213.09 136.625 212.236 134.812 211.784 132.891C219.931 134.727 235.619 136.359 253.615 128.476L254.339 128.533Z" fill="#003E54"/>
                    <path d="M245.903 111.152C247.946 111.838 249.81 113.747 251.436 116.367C251.436 116.367 249.776 116.497 249.861 118.651C249.946 120.806 253.326 122.234 253.326 122.234C253.326 122.234 254.679 124.82 252.108 124.771C250.808 124.741 249.571 124.224 248.664 123.33C247.757 122.436 247.251 121.237 247.256 119.99C247.176 119.223 247.313 118.45 247.653 117.752C247.993 117.054 248.524 116.457 249.189 116.024C249.189 116.024 248.022 113.87 246.49 113.306C244.958 112.743 245.996 117.574 244.873 117.746C243.749 117.917 242.293 109.936 245.903 111.152Z" fill="#E5A5A1"/>
                    <path d="M287.64 116.424C287.794 115.228 287.607 114.014 287.101 112.911C286.595 111.808 285.787 110.856 284.763 110.157C281.205 107.79 275.586 111.193 275.229 111.364C274.623 111.406 274.014 111.339 273.433 111.169C273.463 111.723 273.615 112.265 273.877 112.759C274.14 113.254 274.507 113.691 274.956 114.041C274.956 114.041 278.319 110.491 282.201 110.891C286.082 111.291 287.64 116.424 287.64 116.424Z" fill="#00486E"/>
                    <path d="M298.195 117.925C298.195 117.925 301.396 114.416 304.707 115.363C307.61 116.179 308.223 120.079 308.223 120.079C309.021 119.997 309.762 119.647 310.317 119.092L308.887 118.513C308.887 118.513 308.598 115.746 306.333 114.498C304.069 113.249 299.711 114.792 298.195 117.925Z" fill="#00486E"/>
                    <path d="M322.584 202.961C322.584 202.961 327.862 205.719 343.21 208.249C358.558 210.778 367.496 208.697 367.496 208.697L368.126 203.655L323.137 198.506L322.584 202.961Z" fill="#7AA5EA"/>
                    <path d="M338.315 276.964C338.315 276.964 261.404 315.063 244.2 293.611C229.984 275.895 220.305 238.522 217.684 212.312C223.923 236.099 237.263 278.955 253.624 287.197C276.608 298.727 336.085 271.693 336.085 271.693L338.315 276.964Z" fill="#B6C6EF"/>
                    <path d="M266.537 262.619C266.537 262.619 264.707 274.949 261.847 281.33C261.847 281.33 265.814 281.681 268.512 275.128C271.21 268.576 266.537 262.619 266.537 262.619Z" fill="#B6C6EF"/>
                    <path d="M360.125 265.328C357.239 266.536 355.153 267.523 355.153 267.523L344.274 269.857L336.094 271.595V271.448L330.654 258.661L330.586 258.506L332.723 257.919L332.799 258.074L335.498 263.672C336.314 265.382 337.722 266.769 339.482 267.598C341.243 268.428 343.248 268.649 345.159 268.225L347.322 267.735C353.629 266.275 357.188 265.393 359.41 264.577C360.137 264.309 360.795 263.892 361.338 263.355C361.88 262.818 362.294 262.174 362.551 261.468C364.1 262.146 363.002 264.129 360.125 265.328Z" fill="#E5A5A1"/>
                    <path d="M343.993 249.465L342.768 251.399C342.768 251.399 340.035 252.737 339.729 252.215C339.422 251.693 341.474 249.914 344.172 247.498C345.368 246.443 346.377 245.208 347.16 243.843L347.322 243.924C349.382 245.222 344.777 249.049 343.993 249.465Z" fill="#E5A5A1"/>
                    <path d="M353.391 254.924C352.876 255.573 352.147 256.036 351.323 256.238C350.063 256.474 349.297 256.605 348.982 256.238C348.667 255.87 352.395 254.834 353.391 254.924Z" fill="#E5A5A1"/>
                    <path d="M353.884 259.094C353.372 259.746 352.642 260.209 351.816 260.407C350.556 260.644 349.79 260.783 349.475 260.407C349.16 260.032 352.897 259.012 353.884 259.094Z" fill="#E5A5A1"/>
                    <path d="M354.42 263.99C353.905 264.639 353.176 265.102 352.352 265.303C351.092 265.54 350.326 265.671 350.011 265.303C349.696 264.936 353.433 263.9 354.42 263.99Z" fill="#E5A5A1"/>
                    <path d="M245.222 153.217L268.887 186.249L279.306 184.413L277.723 193.112L298.221 222.635C298.221 222.635 295.906 194.564 276.395 174.197C256.884 153.829 247.775 150.386 247.775 150.386L245.222 153.217Z" fill="#D0DCFF"/>
                    <path d="M377.047 200.129C376.187 201.898 374.819 203.394 373.103 204.444C371.388 205.493 369.395 206.051 367.36 206.054C366.933 206.053 366.507 206.029 366.083 205.98L325.776 201.37C324.068 201.17 322.435 200.579 321.015 199.646C319.596 198.714 318.431 197.467 317.62 196.012C316.81 194.557 316.376 192.936 316.357 191.286C316.338 189.637 316.733 188.007 317.51 186.535C320.234 189.138 325.87 193.332 336.127 196.327C349.245 200.064 368.432 201.051 377.047 200.129Z" fill="#345B93"/>
                    <path d="M343.925 185.025C343.925 185.025 367.913 186.657 371.276 188.126C374.638 189.595 371.991 191.92 353.646 189.162C335.302 186.404 340.946 184.838 343.925 185.025Z" fill="#6990C9"/>
                    <path d="M323.419 210.664C323.419 210.664 326.619 213.308 338.511 215.372C350.403 217.437 365.752 215.723 366.603 215.372C367.454 215.021 371.557 218.506 373.37 220.431C374.877 222.063 349.816 224.699 334.468 220.896C321.427 217.632 319.954 215.144 315.153 218.253C310.352 221.362 306.291 227.482 304.495 225.262C302.699 223.043 313.825 210.892 323.419 210.664Z" fill="#ABCBFF"/>
                    <path d="M47.185 123.188H38.1447V114.514H25.844V123.188H16.8037V134.98H25.844V143.646H38.1447V134.98H47.185V123.188Z" fill="#FFD43A"/>
                    <path d="M389.867 156.62H382.767V149.815H373.105V156.62H366.006V165.882H373.105V172.687H382.767V165.882H389.867V156.62Z" fill="#FFD43A"/>
                    <path d="M12.0791 241.733L26.4231 237.18L40.1521 276.927C40.6006 278.225 40.4926 279.641 39.852 280.864C39.2113 282.086 38.0904 283.014 36.7359 283.444L32.6064 284.754C31.2519 285.184 29.7747 285.081 28.4998 284.467C27.2248 283.853 26.2566 282.778 25.8081 281.48L12.0791 241.733Z" fill="#A6B5FF"/>
                    <path d="M28.1594 234.459L28.3466 234.997C28.4185 235.227 28.4754 235.462 28.5169 235.699C28.6741 236.68 28.4637 237.683 27.923 238.53C27.3823 239.377 26.5463 240.013 25.563 240.326L14.7436 243.761C13.6418 244.109 12.4409 244.024 11.4049 243.523C10.3689 243.023 9.58264 242.149 9.21891 241.093L9.03163 240.546C8.89019 240.146 8.81271 239.728 8.8018 239.306V239.306C8.78158 238.407 9.06253 237.526 9.60339 236.791C10.1442 236.057 10.9165 235.508 11.8067 235.226L22.6177 231.79C23.7217 231.442 24.9249 231.527 25.9637 232.027C27.0024 232.527 27.792 233.401 28.1594 234.459Z" fill="#7B85FF"/>
                    <path d="M17.9014 240.44L30.6702 277.38C30.9734 278.246 31.6214 278.962 32.473 279.372C33.3245 279.781 34.3105 279.852 35.2159 279.567C36.1221 279.28 36.8723 278.66 37.3017 277.843C37.7311 277.026 37.8045 276.079 37.5058 275.21L25.0009 239.036L17.9014 240.44Z" fill="#CCD7FF"/>
                    <path d="M28.5169 235.699C28.6741 236.68 28.4637 237.683 27.923 238.53C27.3823 239.377 26.5462 240.013 25.563 240.326L14.7435 243.761C13.6418 244.109 12.4409 244.024 11.4049 243.523C10.3689 243.023 9.5826 242.149 9.21887 241.093L9.03159 240.546C8.89014 240.146 8.81266 239.728 8.80176 239.306C10.7682 239.967 14.1391 240.513 19.2637 239.461C22.5846 238.828 25.7342 237.548 28.5169 235.699V235.699Z" fill="#6371D6"/>
                    <path d="M399.461 113.462C397.503 117.444 390.744 118.358 384.359 115.436C377.975 112.515 374.417 106.974 376.383 102.992C377.626 100.471 380.793 99.1979 384.572 99.3285C385.066 99.3285 385.577 99.3856 386.104 99.459C387.971 99.7131 389.786 100.242 391.484 101.026C397.852 103.914 401.427 109.48 399.461 113.462Z" fill="#FFD43A"/>
                    <path d="M376.384 102.992L375.337 105.081C374.833 106.08 374.692 107.212 374.937 108.296C375.447 110.573 377.073 114.384 382.249 117.191C387.722 120.153 392.464 119.484 395.145 118.423C396.486 117.769 397.599 116.754 398.346 115.502L399.197 113.87C396.994 115.354 394.407 116.229 391.72 116.399C389.032 116.569 386.348 116.027 383.96 114.833C375.49 110.728 376.384 102.992 376.384 102.992Z" fill="#E69613"/>
                    <path d="M392.31 116.946H390.506L384.547 99.3284C385.041 99.3284 385.551 99.3855 386.079 99.4589L392.31 116.946Z" fill="#E69613"/>
                    </g>
                    </svg>
            </div>
        </div>
    </div>
</div>
{% endblock content %}