{% extends 'shared/base.html' %}

{% block title %}
Update Item Sumber Daya
{% endblock title %}

{% block content %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10">
            <div class="text-center"><h1>UBAH ITEM SUMBER DAYA</h1></div>
            <form method="POST" id="form-update">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="kodeItem" class="form-label">Kode Item: </label>
                    <input type="text" class="form-control" id="kodeItem" value="{{dataItem.0}}" disabled>
                </div>
                <div class="mb-3">
                    <label for="lokasi" class="form-label">Supplier: </label>
                    <input class="form-control" type="text" placeholder="" aria-label="Disabled input example" id="supplier" value="{{dataItem.1}}" disabled readonly>
                </div>
                <div class="mb-3">
                    <label for="namaItem" class="form-label">Nama Item: </label>
                    <input type="text" class="form-control" id="namaItem" placeholder="Masukkan nama item" value="{{dataItem.2}}">
                </div>
                <div class="mb-3">
                    <label for="hargaSatuan" class="form-label">Harga Satuan: </label>
                    <input type="text" class="form-control" id="hargaSatuan" placeholder="Masukkan harga satuan item" value="{{dataItem.3}}">
                </div>
                <div class="mb-3">
                    <label for="beratSatuan" class="form-label">Berat Satuan: </label>
                    <input type="text" class="form-control" id="beratSatuan" placeholder="Masukkan berat satuan item" value="{{dataItem.4}}">
                </div>
                <div class="mb-3">
                    <label for="kodeTipeItem" class="form-label">Kode Tipe Item: </label>
                    <select class="form-select" aria-label="Default select example" id="kodeTipeItem" required>
                        <option selected>{{dataItem.5}}</option>
                        {% for i in dataTipe %}
                            {% if i.0 != dataItem.5 %}
                                <option value="{{ i.0 }}">{{ i.0 }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tipeItem" class="form-label">Tipe Item: </label>
                    <input class="form-control" type="text" placeholder="Pilih Kode Tipe Item terlebih dahulu" aria-label="Disabled input example" id="tipeItem" disabled readonly value="{{currentTipeItem}}">
                </div>
                <div class="align-items-center">
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>

        var data = JSON.parse("{{dataJsonTipe|escapejs}}")
        $(document).ready(function(){
            $("#kodeTipeItem").on("change", function(){
                var kode = $(this).val();
                for(var i = 0; i < data.length; i++){
                    if(data[i][0] === kode){
                        $("#tipeItem").val(data[i][1])
                    }
                }
            })
        });

        $('#form-update').submit((event) =>{
            event.preventDefault();
            if ($('#namaItem').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#beratSatuan').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            if ($('#hargaSatuan').val() == ""){
                alert('Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu')
                return;
            }

            $.post(
                `/item/update/${$('#kodeItem').val()}`,{
                    namaItem: $('#namaItem').val(),
                    beratSatuan: $('#beratSatuan').val(),
                    hargaSatuan: $('#hargaSatuan').val(),
                    kodeTipeItem: $('#kodeTipeItem').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                () => {
                    window.location.href = '/item'
                }
            )
        })
    </script>
{% endblock content %}