{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<div class="container">
    <div class="container" style="width: 50%">
        <h1 class="text-center">Login</h1>
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input required type="text" name="username" class="form-control" id="username">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required type="password" name="password" class="form-control" id="password">
            </div>

            <button type="submit" class="btn btn-success btn-block">Login</button>
        </form>
    </div>
</div>
{% endblock content %}