{% extends 'shared/base.html' %}

{% block title %}
Semua Pesanan
{% endblock title %}

{% block content %}
<style>
    button.btn {
        display: block;
        margin-bottom: 2px;
    }

    .new-pesanan {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
{% csrf_token %}
<div class="container">
    <section id="pesanan-list">
        {% if request.session.role == 'Admin Satgas' %}
        <a href="/pesanan/new">
            <button class="btn btn-success new-pesanan">
                Buat Pesanan
            </button>
        </a>
        {% endif %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nomor Transaksi</th>
                    <th scope="col">Admin Satgas</th>
                    <th scope="col">Tanggal</th>
                    <th scope="col">Total Berat</th>
                    <th scope="col">Total Item</th>
                    <th scope="col">Total Harga</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody>
                {% for pesanan in all_pesanan %}
                    <tr>
                        <th scope="row">{{pesanan.0}}</th>
                        <td>{{pesanan.1}}</td>
                        <td>{{pesanan.4}}</td>
                        <td>{{pesanan.5}} Kg</td>
                        <td>{{pesanan.6}}</td>
                        <td>{{pesanan.2}}</td>
                        <td>{{pesanan.7}}</td>
                        <td>
                            {% if request.session.role == 'Admin Satgas' %}
                                {% if pesanan.7 == 'REQ-SUP' %}
                                    <button onclick="handleUpdatePesanan(this)" class="btn btn-warning">Update</button>
                                    <button onclick="handleDeletePesanan(this)" class="btn btn-danger">Hapus</button>
                                {% endif %}
                            {% endif %}
                            
                            {% if request.session.role == 'Supplier' %}
                                {% if pesanan.7 == 'REQ-SUP' %}
                                    <button onclick="handleReject(this)" class="btn btn-warning">Reject</button>
                                    <button onclick="handleProcess(this)" class="btn btn-success">Process</button>
                                {% endif %}
                                {% if pesanan.7 == 'PRO-SUP' %}
                                    <button onclick="handleSelesaiDenganMasalah(this)" class="btn btn-warning">Selesai Dengan Masalah</button>
                                    <button onclick="handleSelesai(this)" class="btn btn-success">Selesai</button>
                                {% endif %}
                            {% endif %}

                            <button onclick="handleDetailPesanan(this)" class="btn btn-primary">Detail</button>
                            <button onclick="handleRiwayatStatus(this)" class="btn btn-primary">Riwayat Status</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</div>

<script>
    function handleDeletePesanan(btn) {
        const id = btn.parentElement.parentElement.childNodes[1].innerHTML
        $.post(
            `/pesanan/delete/${id}`,
            {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                window.location.href = '/pesanan/'
            }
        );
    }

    function handleSelesai(btn) {
        const id = getid(btn);
        $.post(
            `/pesanan/status/create/${id}`,
            {
                status: 'FIN-SUP',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                location.reload()
            }
        )
    }

    function handleSelesaiDenganMasalah(btn) {
        const id = getid(btn);
        $.post(
            `/pesanan/status/create/${id}`,
            {
                status: 'MAS-SUP',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                location.reload()
            }
        )
    }

    function handleReject(btn) {
        const id = getid(btn);
        $.post(
            `/pesanan/status/create/${id}`,
            {
                status: 'REJ-SUP',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                location.reload()
            }
        )
    }

    function handleProcess(btn) {
        const id = getid(btn);
        $.post(
            `/pesanan/status/create/${id}`,
            {
                status: 'PRO-SUP',
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                location.reload()
            }
        )
    }

    function handleRiwayatStatus(btn) {
        const id = getid(btn);
        window.location.href = `/pesanan/status/${id}`
    }

    function handleDetailPesanan(btn) {
        const id = getid(btn);
        window.location.href = `/pesanan/detail/${id}`
    }

    function handleUpdatePesanan(btn) {
        const id = getid(btn);
        window.location.href = `/pesanan/update/${id}`
    }

    function getid(btn) {
        return btn.parentElement.parentElement.childNodes[1].innerHTML;
    }

</script>
{% endblock content %}