{% extends 'shared/base.html' %}

{% block title %}
    Detail Pesanan
{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Detail Pesanan Sumber Daya</h1>
        <p><b>Nomor Transaksi</b>: {{pesanan.0.0}}</p>
        <p><b>Petugas</b>: {{pesanan.0.1}}</p>
        <p><b>Tanggal</b>: {{pesanan.0.4}}</p>
        <br>
        <p><b>Supplier</b>: {{pesanan.0.14}}</p>
        <br>
        <p><b>Daftar Pesanan Item</b>:</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nomor Urut</th>
                    <th scope="col">Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Jumlah Item</th>
                </tr>
            </thead>

            <tbody>
                {% for item in pesanan %}
                    <tr>
                        <th scope="row">{{item.8}}</th>
                        <td>{{item.15}}</td>
                        <td>{{item.16}}</td>
                        <td>{{item.11}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><b>Total Harga</b>: {{pesanan.0.2}}</p>
    </div>
</section>
{% endblock content %}
