{% extends 'shared/base.html' %}

{% block title %}
Buat Pesanan Baru
{% endblock title %}

{% block content %}
<div class="container">
    <section id="pesanan-form">
        <h1 class="text-center">Form Pesanan Sumber Daya</h1>
        <form method="POST" id="add-barang">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nomor-transaksi" class="form-label">Nomor Transaksi</label>
                <input value="{{next_id}}" required disabled name="nomor-transaksi" type="text" class="form-control" id="nomor-transaksi">
            </div>

            <div class="mb-3">
                <label for="petugas" class="form-label">Petugas</label>
                <input value="{{request.session.username}}" required disabled name="petugas" type="text" class="form-control" id="petugas">
            </div>

            <div class="mb-3">
                <label for="supplier" class="form-label">Supplier</label>
                <select onchange="handleSupplierChange(this)" name="supplier" id="supplier" class="form-control">
                    {% for supplier in suppliers %}
                        <option value="{{supplier.0}}">{{supplier.0}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="no-urut" class="form-label">Nomor Urut</label>
                <input value="1" required disabled name="no-urut" type="text" class="form-control" id="no-urut">
            </div>

            <div class="mb-3">
                <label for="item" class="form-label">Kode Item</label>
                <select name="item" id="item" class="form-control">
                    <option value="A">Item A</option>
                    <option value="B">Item B</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="jumlah" class="form-label">Jumlah</label>
                <input required min="1" name="jumlah" type="number" class="form-control" id="jumlah">
            </div>

            <button type="submit" class="btn btn-success btn-block">Tambah Item</button>
        </form>
    </section>

    <section id="pesanan-list">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nomor Urut</th>
                    <th scope="col">Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>

            <tbody id='table-content'>
                
            </tbody>
        </table>
        
        <button class="btn btn-success btn-block" id='simpan'>Simpan</button>
    </section>
</div>

<script>
    let data = [];

    let form_data = {};


    function handleSupplierChange(object) {
        const choosedSupplier = object.value;
        setItem(choosedSupplier);
        $('#table-content').empty();
        data = [];
        $('#no-urut').val(1);
        form_data = {
            ...form_data,
            supplier: choosedSupplier
        }
    }

    $(document).ready(() => {
        const choosedSupplier = $('select#supplier').val();
        form_data = {
            nomor: $('#nomor-transaksi').val(),
            petugas: $('#petugas').val(),
            supplier: choosedSupplier
        }
        setItem(choosedSupplier);
    })

    function setItem(supplier) {
        itemsSelect = $('select#item');
        itemsSelect.empty();
        const all_item = getAllItem();
        const current_item = all_item.filter((item) => {
            return item[1] === supplier
        });
        current_item.forEach((item) => {
            itemsSelect.append(`<option value="${item[0]}">${item[2]}</option>`)
        });
    }

    $('form#add-barang').on('submit', (event) => {
        event.preventDefault();
        const item = getItem($('select#item').val())[0];
        data.push([...item, parseInt($('#jumlah').val()), parseInt($('#no-urut').val())]);
        $('#table-content').append(`
            <tr>
                <th scope="row">${$('#no-urut').val()}</th>
                <td>${item[2]}</td>
                <td>${item[3]}</td>
                <td>${$('#jumlah').val()}</td>
                <td>
                    <button onclick="handleDeleteItem(this)" class="btn btn-danger" id=>Hapus</button>
                </td>
            </tr>
        `);
        $('#no-urut').val(parseInt($('#no-urut').val()) + 1)
        $('#jumlah').val('');
    })

    function handleDeleteItem(object) {
        const itemName = object.parentElement.parentElement.childNodes[3].innerHTML;
        const itemAmmount = object.parentElement.parentElement.childNodes[7].innerHTML;
        data = data.filter(item => item[2] != itemName || item[6] != itemAmmount );
        object.parentElement.parentElement.remove();
    }

    function getItem(id) {
        const all_item = getAllItem();
        return all_item.filter((item) => {
            return item[0] == id
        });
    }

    $('#simpan').on('click', (event) => {
        if (data.length === 0) {
            alert('Anda belum menambahkan item!');
            return ;
        }
        console.log(form_data);
        $.post(
            '/pesanan/new/',
            {
                ...form_data, 
                    items: JSON.stringify(data),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                window.location.href = '/pesanan/'
            }
        );
    })

    function getAllItem() {
        const all_items = "{{ items|safe }}";
        return JSON.parse(all_items.replaceAll("'", '"'))
    }
</script>
{% endblock content %}
