{% extends 'shared/base.html' %}

{% block title %}
Update Pesanan Sumber Daya
{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Riwayat Status Pesanan Sumber Daya</h1>
        <p>Nomor Transaksi: {{id}}</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nomor</th>
                    <th scope="col">Kode Status</th>
                    <th scope="col">Status</th>
                    <th scope="col">Username Supplier</th>
                    <th scope="col">Tanggal Persetujuan</th>
                </tr>
            </thead>

            <tbody id='statuslist'>
                {% for status in statuses %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{status.0}}</td>
                    <td>{{status.4}}</td>
                    <td>{{status.2}}</td>
                    <td>{{status.3}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>

</script>
{% endblock content %}