{% extends 'shared/base.html' %}

{% block title %}
Update Pesanan Sumber Daya
{% endblock title %}

{% block content %}
<section>
    <div class="container">
        <h1 class="text-center">Ubah Pesanan Sumber Daya</h1>
        <form id="add-barang" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nomor-transaksi" class="form-label">Nomor Transaksi</label>
                <input value="{{pesanan.0.0}}" required disabled name="nomor-transaksi" type="text" class="form-control" id="nomor-transaksi">
            </div>

            <div class="mb-3">
                <label for="petugas" class="form-label">Petugas</label>
                <input value="{{pesanan.0.1}}" required disabled name="petugas" type="text" class="form-control" id="petugas">
            </div>

            <div class="mb-3">
                <label for="supplier" class="form-label">Supplier</label>
                <select disabled name="supplier" id="supplier" class="form-control">
                    <option value="{{pesanan.0.14}}">{{pesanan.0.14}}</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="no-urut" class="form-label">Nomor Urut</label>
                <input value="{{next_nomor_urut}}" required disabled name="no-urut" type="text" class="form-control" id="no-urut">
            </div>

            <div class="mb-3">
                <label for="item" class="form-label">Kode Item</label>
                <select name="item" id="item" class="form-control">
                    <option value="A">Item A</option>
                    <option value="B">Item B</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="jumlah" class="form-label">Jumlah</label>
                <input required min="1" name="jumlah" type="number" class="form-control" id="jumlah">
            </div>

            <button type="submit" class="btn btn-success btn-block">Tambah Item</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nomor Urut</th>
                    <th scope="col">Item</th>
                    <th scope="col">Harga Satuan</th>
                    <th scope="col">Jumlah Item</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            
            <tbody id='table-content'>
                
            </tbody>
        </table>
        
        <button onclick="handleSimpan()" class="btn btn-success btn-block">Simpan</button>
    </div>
</section>
<script>

    let items = [];

    $(document).ready(() => {
        const all_item = getAllItem();
        $('tbody').empty();
        
        all_item.forEach((item) => {
            console.log(item);
            const item_data = getItemSumberDaya(item[3])[0];
            items.push([...item_data, item[2], item[1]])
            $('tbody').append(`
                <tr>
                    <th scope="row">${item[1]}</th>
                    <td>${item_data[2]}</td>
                    <td>${item_data[3]}</td>
                    <td>${item[2]}</td>
                    <td>
                        <button onclick="handleDeleteItem(this)" class="btn btn-danger" id=>Hapus</button>    
                    </td>
                </tr>
            `)
        });
        setItem($('#supplier').val());
    })

    function handleDeleteItem(btn) {
        const itemName = btn.parentElement.parentElement.childNodes[3].innerHTML;
        const itemAmmount = btn.parentElement.parentElement.childNodes[7].innerHTML;
        const itemData = getItemByName(itemName)[0];
        items = items.filter(item => item[0] != itemData[0] || item[6] != itemAmmount );
        btn.parentElement.parentElement.remove();
    }

    function setItem(supplier) {
        itemsSelect = $('select#item');
        itemsSelect.empty();
        const all_item = getAllItemSumberDaya()
        const current_item = all_item.filter((item) => {
            return item[1] === supplier
        });
        current_item.forEach((item) => {
            itemsSelect.append(`<option value="${item[0]}">${item[2]}</option>`)
        });
    }

    $('form#add-barang').on('submit', (event) => {
        event.preventDefault();
        const item = getItemSumberDaya($('select#item').val())[0];
        items.push([...item, parseInt($('#jumlah').val()), parseInt($('#no-urut').val())]);
        $('#table-content').append(`
            <tr>
                <th scope="row">${$('#no-urut').val()}</th>
                <td>${item[2]}</td>
                <td>${item[3]}</td>
                <td>${$('#jumlah').val()}</td>
                <td>
                    <button onclick="handleDeleteItem(this)" class="btn btn-danger" id=>Hapus</button>
                </td>
            </tr>
        `);
        $('#no-urut').val(parseInt($('#no-urut').val()) + 1)
        $('#jumlah').val('');
    });

    function handleSimpan() {
        if (items.length === 0) {
            alert('Daftar Item tidak boleh kosong');
            return ;
        }
        $.post(
            `/pesanan/update/${$('#nomor-transaksi').val()}`,
            {
                items: JSON.stringify(items),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            () => {
                window.location.href = '/pesanan/'
            }
        );
    }

    function getAllItem() {
        const all_items = "{{ items|safe }}";
        return JSON.parse(all_items.replaceAll("'", '"'))
    }

    function getAllPesanan() {
        const all_pesanan = "{{ pesanan|safe }}";
        return JSON.parse(all_pesanan.replaceAll("'", '"'));
    }

    function getItemSumberDaya(id) {
        return getAllItemSumberDaya().filter((item) => item[0] === id)
    }

    function getItemByName(name) {
        return getAllItemSumberDaya().filter((item) => item[2] === name)
    }

    function getAllItemSumberDaya() {
        const all_items = "{{ all_items|safe }}"
        return JSON.parse(all_items.replaceAll("'", '"'))
    }

</script>
{% endblock content %}
