<style>
    div.d-flex a {
        margin-right: 25px;
    }
</style>
<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand" href="/">💉SI-DIA</a>
        {% if request.session.username %}
        <div class="d-flex">
            <a href="/">Profil</a>
            <a href="/authentication/logout">Log Out</a>
        </div>
        {% endif %}
    </div>
</nav>