<html>
    {% load static %}
    <head>
        <link rel="shortcut icon" href="{% static 'images/favicon.svg' type='image/svg+xml' %}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            SI-DIA
        </title>
        <style>
            body {
                background: #f5f5f5 !important;
            }
        </style>

        {% include 'shared/components/styles.html' %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <!-- Navbar Component -->
        {% include 'shared/components/navbar.html' %}

        <!-- Block Content -->
        {% block content %}

        {% endblock content %}

        <!-- Footer Component -->
        {% include 'shared/components/footer.html' %}

    </body>

</html>
