{% extends 'shared/base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
{% load static %}
<style>
    body {
        background-color: white !important;
    }
</style>
<div style="height: 90vh; display: flex; align-items: center; justify-content: center;">
    <img width="400px" src="{% static 'images/comingsoon.jpg' %}">
</div>
{% endblock content %}